* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    height: 80px;
    width: 100%;
    background-color: rgb(251, 251, 65);
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 2px solid black;
    line-height: 80px;
    margin: 0px 0px 0px 20px;
    background-image: url(assests.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

ul {
    display: flex;
    align-self: center;
    justify-content: space-between;
    margin-left: 100px;
    gap: 40px;
    padding-left: 400px;
    padding-top: 30px;
}

li {
    list-style: none;
}

.auth-buttons {
    display: flex;
    gap: 15px;
    padding-left: 480px;
}

.Sign,
.log {
    padding: 8px 16px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
}

.sign {
    display: flex;
    align-items: flex-end;
}

footer {
    background-color: rgb(251, 251, 65);
    height: 400px;
    width: 100%;

}

.about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 80px;
    padding-bottom: 40px;
   
}

.footbtn {
    border-radius: 80px;
    padding: 10px 10px 10px 10px;
    height: 40px;
    width: 100px;
   

}

.container {
    display: flex;
    justify-content: center;
    gap: 80px;
    padding-top: 80px;
    padding-right: 50px;
}